.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  width: 460px;
  height: 406px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 30px;
  border-radius: 5px;
  background-color: white;
  z-index: 10;
}

.close {
  position: absolute;
  content: '';
  top: 2px;
  right: 5px;
  color: #44bba4;
  font-size: 30px;
  cursor: pointer;
  &:hover {
    color: #3bab95;
  }
}

.heading {
  font-size: 24px;
  font-weight: 700;
  color: #3c5e5aff;
}

.modal-content {
  display: flex;
}

.product-image {
  height: 230px;
  width: 230px;
  overflow: hidden;
  img {
    max-width: 100%;
  }
}

.product-info {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  font-size: 22px;
  font-weight: 600;
}

.modal-button {
  align-self: flex-end;
}
