.button {
  width: 140px;
  padding: 10px 10px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid transparent;
  color: white;
  font-size: 20px;
  background-color: #3c5e5a;
  transition: background-color 0.25s;
  &:hover {
    background-color: #4d736f;
  }
}
