.product {
  background-color: #ffff;
  width: 266px;
  height: 331px;
  padding: 15px;
  border-radius: 6px;
  font-size: 20px;
}

.image {
  border-radius: 3px;
  overflow: hidden;
  height: 215px;
  width: 215px;
  margin: 14px auto 0;

  img {
    max-width: 100%;
  }
}

.article {
  margin-top: 5px;
  font-size: 12px;
  text-align: right;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
