.header {
  height: 100px;
  background-color: #f6f7eb;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  padding: 22px;
  cursor: pointer;
}

.nav-menu {
  font-size: 20px;
  cursor: pointer;
}

.actions {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 30px;
  padding-right: 25px;
}

.counter {
  font-size: 12px;
  color: #f6f7eb;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3c5e5a;
  position: absolute;
  top: 22px;
  left: 16px;
}

.header-btn-wrapper {
  position: relative;
}
